<footer>

    <section id="footer">
        <h2>Lyon à la Carte</h2>
        <h3>Suivez-nous sur les réseaux sociaux</h3>
        <div id="social-media">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </section>
</footer>