body {
    font-family: 'Raleway', sans-serif;
}

/**** ACCEUIL ****/

#starting-page {
    background-image: url(../img/lyon-quai-daone-.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}

#welcome {
    padding-top: 15%;
    display: block;
    margin: 0 auto;
    padding-left: 36%;
}

#welcome a {
    color: #363636;
    font-size: 1.3em;
}

#welcome input {
    height: 75px;
    width: 504px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 2px #ffffff;
    margin-bottom: 5px;
    padding: 0 20px;

}

#welcome button {
    height: 75px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 2px #ffffff;
}

/**** GOOGLE MAP ****/

#map {
    height: 50vh;
    width: 100%;
}

#random-activities {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/**** REGISTER FORM ****/

#form-register {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    width:500px;
}

#form-register label {
    padding-right: 15px;
}

/**** LOGIN FORM ****/

#login {
    background-image: url(../img/musee-confluence.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}

#log {
    padding-top: 100px;
}

#login h1 {
    text-align: center;
    color: #FFFFFF;
    padding-top: 120px;
}

#login form {
    display: block;
    width: 400px;
    margin: 0px auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

#login.form-log {
    height: 40px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 2px #ffffff;
    margin-bottom: 5px;
    padding: 0 20px;
}


#form-button {
    margin-top: 15px;
    height: 35px;
    width: 110px;
}

/**** FOOTER ****/

#footer {
    background-color: #363636;
    color: #FFFFFF;
    text-align: center;
}

#footer h2 {
    padding-top: 25px;
    margin: 0;
}

#social-media {
    font-size: 4em;
}

#social-media i {
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
}

#social-media i:hover {
    color: #5eb5e0;
}

