{% extends "@Geo/layout.html.twig" %}

{% block body %}

    <section id="starting-page">
        <div id="welcome">
            <input type="text" name="categorie" placeholder="Restauration, Culture, Monuments ..."> <br />
            <a href="{{ path('surprise') }}"><button>Choisir son parcours!</button></a>
            <a href="{{ path('tour_random', { 'n': 5, 'type': 'ALL'})}}"><button>Surprenez-moi!</button></a>
        </div>
    </section>



{% endblock %}