{% extends "@Geo/layout.html.twig" %}

{% block body %}

    <section id="starting-page">
        <div id="welcome">
            <input type="text" name="categorie" placeholder="Restauration, Culture, Monuments ..."> <br />
            <button><a href="">Choisir son parcours!</a></button>
            <button><a href="">Surprenez-moi!</a></button>
        </div>
    </section>

{% endblock %}